{%extends "particles/particle_wrapper.html"%}
{%block particle%}
<div class="card">
  <div class="card-head">500</div>
  <div class="card-body">
    Something's wrong
  </div>
</div>
<div class="card">
  <div class="card-head">Error message</div>
  <div class="card-body">
    {{error}}
  </div>
</div>
{%endblock%}