.particle-table {
  width: 100%;
  border-collapse: collapse;
  .particle-table-head {
    border-bottom: 1px solid $color-light-tint-1;
    font-size: 12pt;
    padding: 3px 2px;
    font-weight: bold;
    text-align: left;
  }

  .particle-list-item {
    text-align: left;
    border: none;
    border: none;
    margin: none;
    font-size: 9pt;
    padding: 4px;
    
    td {
      padding: 4px;

    }
    &.dark{
      background-color: $color-light-tint-1;
    }
  }
}
