{%extends 'particles/particle_wrapper.html'%}
{%block title%}Service | {{service.name}}{%endblock%}
{%block particle_head%}Service{%endblock%}
{%block particle%}
<div class="card">
  <div class="card-head">
    <span>info</span>
  </div>
  <div class="card-body">
    <div class="key-value-item">
      <span>name:</span> <span>{{ service.name }}</span>
    </div>
    <div class="key-value-item odd">
      <span>category:</span> <span>{{ service.category }}</span>
    </div>
    <div class="key-value-item">
      <span>parent server:</span>
      <span>

        {%if service.parent_server != 'unknown'%}

        <a href={{url_for("b_routes.get_server", alias=service.parent_server)}} class="particle-link">{{ service.parent_server }}</a>
        {%else%}
        <span>Unknown</span>
        {%endif%}
      </span>

    </div>
    <div class="key-value-item odd">
      <span>transaction:</span>
      <span>{{ service.transaction }}</span>
    </div>
    <div class="key-value-item">
      <span>timeout:</span> <span>{{ service.timeout }}</span>
    </div>
  </div>
</div>


{%include 'particles/service/service_metrics.html'%}

{%endblock%}
