.login-container {

  .login-card {
    margin: 1em auto;
    width: 350px;
    //height: 450px;
    padding: 0 20px;

    .login-logo {
      #logo-icon {
        background-color: white;
        //border: 1px solid $color-light-tint-1;
        //box-shadow: 0 0 10px $color-light-tint-2;

        display: block;
        margin: 0 auto 25px auto;
        width: 100px;
        height: 100px;
        background-image: url("../img/casual_symbol_BW.svg");
        background-size: contain;
      }
    }
    .login{
      display: flex;
      flex-direction: column;
    }
    form.login-form {
      input {
        font-size: 14pt;
        margin-bottom: 10px;
      }
    }
  }
  .error-message {
    color: red;
  }
}
