.button {
  background-color: $color-theme-tint-1;
  display: inline-block;
  border: none;
  padding: 5px 15px;
  // border-radius: 2px;
  color: $color-light-tint-1;
  position: relative;
  margin: 0.25em 0;
  &:hover {
    background-color: $color-theme-tint-2;
    color: $color-light-tint-2;
    cursor: pointer;
  }
  &.right {
    float:right;
  }

  &--text {

    background: none;
    color: $color-theme-tint-1;
    min-width: auto;
    padding-left: 0;
    padding-right: 0;
    
    span {
      position: relative;
      &:after {
        transition: 0.05s ease-in-out;
        content: "";
        position: absolute;
        width: 0;
        //width: 100%;
        bottom: -4px;
        height: 2px;
        background-color: $color-theme-tint-1;
        left: 0;
      }
    }
    &:hover {
      background: none;
      span:after {
        color: $color-theme-tint-2;
        background-color: $color-theme-tint-2;
        width: 100%;
      }
    }
    
    &.left {
      @extend .button--text;
  
     // padding-left: 0;
    }

    &.active {
      //border-bottom: 1px solid $color-theme-tint-2;
      font-weight: bold;
      span:after {
        content:"";
        position: absolute;
        bottom: -4px;
        color: $color-theme-tint-2;
        background-color: $color-theme-tint-2;
        width: 100%;
        height: 2px;
      }
    }
  }
  &--small {
    padding: auto;
    margin: 0;
    min-width: auto;

  }
}

.button-group {
  display: flex;
 width: auto; 
}
