.row {
  display: flex;
  flex-direction: row;
  &.dark {
    background-color: $color-light-tint-1;
  }
  .col {
    position: relative;
    width: 100%;
    &-1 {
      width: 10%;
    }
    &-2 {
      width: 16.6666%;
    }
    &-3 {
      width: 25%;
    }
    &-4 {
      width: 33.3333%;
    }
    &-5 {
      width: 41.6666%;
    }
    &-6 {
      width: 50%;
    }
    &-7 {
      width: 58.3333%;
    }
    &-8 {
      width: 66.6666%;
    }
  }
}
