@font-face {
  font-family: "Source Code Pro";
  src: url("../font/SourceCodePro-Regular.ttf") format("woff");
}

//@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

p {
  padding: 0;
  margin: 0;

}

