@import "base/all";
@import "navigation/all";
@import "particle/all";
@import "partials/all";
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro";
  width: 100%;
  height: 100%;
  background-color: $color-light-background;
 // overflow: auto;
}

#casual {
  scroll-margin-top: $topnav-bar-height;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 11pt;
  
}

ul {
  margin: 0;
  padding: 0;
  li {

    list-style: none;
  }
}