<template id="environment-template">
  <div class="row environment-list-item" name="">
    <div class="col col-5">
      <input type="text" class="environment-input" value="" />
    </div>
    <div class="col col-5">
      <input type="text" class="environment-input" value="" />
    </div>
  </div>
</template>