{%extends 'particles/particle_wrapper.html'%}

{% block title %}Server | {{server.alias}}{%endblock%}
{%block particle_head%}Server{%endblock%}
{% block particle %}

{%with server_type='b_routes.get_server'%}
{%include 'particles/server/servertabs.html'%}
{%endwith%}
<!--domain-configuration :/-->

{% if activeTab == 'conf'%}

{%include 'particles/server/serverconfiguration.html'%}

{%elif activeTab == 'env'%}

{%with type='server'%}

{%include 'particles/server/environmentvar.html'%}

{%endwith%}

{%elif activeTab == 'mem'%}

<div class="card">
  <div class="card-head">Member of</div>
  {%with groups = server.memberof%}
  {% include 'particles/server/memberof_table.html' %}
  {%endwith%}
  
</div>



{%elif activeTab == 'serv'%}


<div class="card">

  <div class="card-head">Services</div>
  {% with services = server.server_services %}
  {% include 'particles/service/services_table.html' %}
  
  {%endwith%}
  
</div>

{%else%}
<div class="card" v-else>No Server found</div>
{%endif%}


{%endblock%}