#topnav {
  top: 0;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: $topnav-bar-height;
  //background-image: $gradient-topnav-1;
  border-bottom: 2px solid $color-light-tint-2;
  box-shadow: 0 0 6px 0 $color-light-tint-2;
  padding: 0 1em;
  color: $color-theme-tint-1;
  box-sizing: border-box;
  align-items: center;
  z-index: 10;
  .logo {
    display: inline-block;
    z-index: 100;
    &:hover {
      cursor: pointer;
    }
    img {
      height: $topnav-bar-height;
      //filter: invert(100%);
    }
  }
  #console-head-line {
    #version {
      font-size:8pt;
      margin-right: 2em;
    }
  }

  .logout {
    text-decoration: none;
    font-weight: bold;
  }
}
